NEXT_PUBLIC_BRAND_NAME="Compare Internet Deal"
NEXT_PUBLIC_LEGAL_NAME="CORETEL INTERNET LLC"
NEXT_PUBLIC_PHONE_DISPLAY="(855) 216-7634"
NEXT_PUBLIC_PHONE_HREF="+18552167634"
NEXT_PUBLIC_EMAIL="help@compareinternetdeal.com"
NEXT_PUBLIC_DOMAIN="compareinternetdeal.com"
NEXT_PUBLIC_BUSINESS_ADDRESS="7538 Utopia Pkwy, Fresh Meadows, NY 11366-1527"
NEXT_PUBLIC_HOURS="Mon-Sat, 8:00 AM-8:00 PM ET"
NEXT_PUBLIC_RELATIONSHIP="independent"
